<h1>Make your form here</h1>
<h2>Pirate</h2>
<form action = "/pirates" method = "post">
<label for = "name">Pirate Name: <input type = "text" name = pirate[name]></label>
<label for = "weight"> Pirate Weight: <input type = "text" name = pirate[weight]></label>
<label for = "height"> Pirate Height: <input type = "text" name = pirate[height]></label>
<h2>Ships</h2>
<h3>ship one</h3>
Ship Name: <input type = "text" name= "pirate[ships][][name]"
Ship type: <input type = "text" name= "pirate[ships][][type]"
Ship Type: <input type = "text" name= "pirate[ships][][booty]"

<input type = "submit" id = "submit">
</form>