<%# <h1>Make your form here</h1> %>
<form action="/pirates" method="POST">
  <%# pirate name %>
  <%# pirate weight %>
  <%# pirate height %>
  <%# ****************************************************** %>
  <%# ship name%>
  <%# ship type%>
  <%# ship booty %>
</form>
